@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@import './transitions';
@import '/variables';

body {
  background-color: $color-blue-grey
}
.page-view {
  padding: 25px 0 0;

  @include media-breakpoint-down(md) {
    margin: 25px 0 120px;
  }

}
.btn {
  display: inline-block;

  &__standard {
    appearance: none;
    background-color: $color-coral-red;
    border-radius: 25px;
    border: 0;
    color: $color-white;
    font-weight: 700;
    padding: 10px 25px;

    &:hover {
      color: $color-white;
      background-color: rgba($color-coral-red, .9);
      text-decoration: none;
    }
  }
}

.list {
  margin: 0;
  padding: 0;

  &--horizontal {
    display: flex;
  }
  
  li {
    list-style: none;
    
  }
}
