@import url('https://fonts.googleapis.com/css?family=Arvo');
@import '~bootstrap/scss/bootstrap-grid';

@import 'variables';
@import 'page-transition';
@import 'button';
@import 'header';
@import 'nav';
@import 'menu';
@import 'skill';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e83cd;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }

  a {
    margin: 0 auto;
  }

  &.horizontal-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
      margin: 0 15px;
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }
}

.text-center {
  text-align: center;
}
